<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>Hermerest</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<style>
    input[type=text], input[type=password] {
        padding: 8px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        /*border-radius: 5px;*/
        box-sizing: border-box;
    }

    button[type=submit] {
        background-color: #428BCA;
        color: white;
        padding: 10px 66px;
        margin-top: 8px;
        border: none;
        /*border-radius: 4px;*/
        cursor: pointer;
        /*margin-left: 26px;*/
    }

    input[type=submit]:hover {
        background-color: #286090;
    }

    form {
        border-radius: 5px;
        background-color: #EEEEEE;
        padding: 30px;
        width: 210px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .error {
        color: red;
        text-align: center;
        margin-bottom: 10px;
    }

    body {
        background-color: #EEEEEE;
    }

</style>
<body>


<form action="{{ path('login_check') }}" method="post">
    {% if error %}
        <div class="error">{{ (error.message == 'Bad credentials.') ? 'Credenciales incorrectas.' : error.message }}</div>
    {% endif %}

    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Usuario" required/>
    <br/>
    <input type="password" id="password" name="_password" placeholder="Contraseña" required/>

    {#<input type="hidden" name="_target_path" value="/"/>#}

    <button type="submit">Iniciar sesión</button>
</form>


</body>
</html>
