<div class="modal" id="warning_modal">

    <div class="modal-content">
        <div class="modal-header">
            <span class="close" onclick="closeAlertModal()">&times;</span>
            <b class="modalTitle">Advertencia</b>
        </div>
        <div class="modal-body">
            <div class="modal-body_content"></div>
        </div>
    </div>

</div>
